.comment-container {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.comment-image {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.comment-author-info {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.comment-author-comment {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.formated-date-comment {
  font-size: 1.2rem;
  color: #e6e6e6;
}

.comment-likes-info {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 1rem;
}

.comment-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.like-count {
  font-size: 1.4rem;
}

.clicked-channel p {
  color: #fff;
}
